@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="row animate-box">
    <div class="col-md-12 col-md-offset-0 text-center fh5co-heading">
        <h2><span>@Umbraco.AssignedContentItem.GetPropertyValue("largeHeading")</span></h2>
    </div>
</div>
