@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "WebBase.cshtml";
}

<div id="fh5co-contact" class="fh5co-no-pd-top">
    <div class="container">
        @{ Html.RenderAction("RenderLargeHeadingControl", "SiteLayout");}
        <div class="row">
            <div class="col-md-9 col-padded-right">
                @{ Html.RenderAction("RenderContactForm", "Contact");}
            </div>

            <aside id="sidebar">
                <div class="col-md-3">
                    <div class="side animate-box">
                        <div class="col-md-12 col-md-offset-0 text-center fh5co-heading fh5co-heading-sidebar">
                            <h2><span>About Me</span></h2>
                        </div>
                        <div class="fh5co-staff">
                            <img src="images/user-2.jpg" alt="Free HTML5 Templates by FreeHTML5.co">
                            <h3>Jean Smith</h3>
                            <strong class="role">CEO, Founder</strong>
                            <p>Quos quia provident conse culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita.</p>
                            <ul class="fh5co-social-icons">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-dribbble"></i></a></li>
                                <li><a href="#"><i class="icon-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>

        </div>
    </div>
</div>
