@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "WebBase.cshtml";
}

<div id="fh5co-contact" class="fh5co-no-pd-top">
    <div class="container">
        @{ Html.RenderAction("RenderLargeHeadingControl", "SiteLayout");}
        <div class="row">
            <div class="col-md-9 col-padded-right">
                @{ Html.RenderAction("RenderContactForm", "Contact");}
            </div>

            <aside id="sidebar">
                <div class="col-md-3">
                    <div class="side animate-box">
                        @{ Html.RenderAction("RenderStaffControl", "SiteLayout"); }
                    </div>
                </div>
            </aside>

        </div>
    </div>
</div>

@section ScriptsBottom {
    <script src="/scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
}