@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "WebBase.cshtml";
}

<div id="fh5co-content" class="fh5co-no-pd-top">
    <div class="container">
        @{ Html.RenderAction("RenderLargeHeadingControl", "SiteLayout");}
        @CurrentPage.GetGridHtml("contentGrid", "bootstrap3")
    </div>
</div>
<div id="fh5co-blog">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-12 col-md-offset-0 text-center fh5co-heading">
				<h2><span>My Posts</span></h2>
			</div>
		</div>
        <div class="row">
            @{Html.RenderAction("RenderPostList", "Blog", new { numberOfItems = 3, horizontalLayout = true }); }
        </div>
	</div>
</div>

@section ScriptsBottom
{
	<!-- Stuff in the bottom section -->
}