@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

<html>
<head>
	<title>My Second Umbraco 7 Site</title>
</head>
<body>
	@{ Html.RenderAction("RenderHeader", "SiteLayout");}
	@{ Html.RenderAction("RenderIntro", "SiteLayout");}
	@RenderBody()
	@{ Html.RenderAction("RenderFooter", "SiteLayout");}
</body>
</html>
