<div class="featured">
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        <tr>
            <td>0</td>
            <td>Bob</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Laura</td>
        </tr>
    </table>
</div>