<aside id="fh5co-hero">
    <div class="container">
        <div class="row">

            @{ Html.RenderPartial("SiteLayout/_Slider"); }

            @{ Html.RenderPartial("SiteLayout/_FeaturedItems"); }

        </div>
    </div>
</aside>
